a,
b,
body,
button,
dd,
div,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
img,
input,
li,
p,
span,
strong,
ul {
    margin: 0;
    padding: 0;
    font-size: 12px;
}
body {
    font-family: 'microsoft yahei', Verdana;
}
b,
strong {
    font-weight: 100;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 100;
    font-size: 16px;
}
button,
form,
input {
    outline: none;
}
li,
ol,
ul {
    list-style: none;
}
i,
u {
    font-style: normal;
}
a {
    text-decoration: none;
}
.clearfix:after {
    content: ".";
    clear: both;
    display: block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
}
#banner,
.head-con,
.nav-con,.proSort,.list-con,.link,.foot-head,.bottom-con
{
    width: 1100px;
    margin: 0 auto;
}
#nav {
    height: 28px;
    background: #EEECED;
    border-bottom: 1px solid #DCE3DB;
    .nav-con {
        height: 22px;
        // background: pink;
        padding-top: 6px;
        .navLeft {
            height: 22px;
            float: left;
            a {
                color: #747273;
                float: left;
                padding: 0 5px;
                border-right: 1px solid #e6dee2;
            }
            a:first-child {
                padding-right: 10px;
            }
            a:hover {
                color: #e73a77;
            }
            a:last-child {
                border: 0;
            }
        }
        .navRight {
            position: relative;
            height: 22px;
            //background: palegreen;
            float: right;
            //border-right: ;
            ul .rightA {
                float: left;
                padding: 0 12px;
                a {

                    color: #666;
                }
                a:hover {
                    color: #e73a77;
                }
                .firstAA {
                    color: #e73a77;
                }
            }
            .rightA:first-child {
                padding: 0;
            }
            .myXZ {
                position: relative;
                width: 63px;
                height: 19px;
                border-right: 1px solid #666;
                border-left: 1px solid #666;
                .rightAA {
                    position: absolute;
                    left: 12px;
                    top: 2px;
                    z-index: 1000;
                    span {
                        float: right;
                        // display: block;
                        width: 15px;
                        height: 19px;
                        background: url("../images/index_8.jpg") no-repeat 0 -7px;
                    }
                }
                .myXZHover {
                    display: none;
                    position: absolute;
                    width: 78px;
                    height: 125px;
                    background: #fff;
                    top: -2px;
                    right: 4px;
                    padding-top: 25px;
                    z-index: 10;
                    border: 1px solid #E8E8E8;
                    li {
                        height: 25px;
                        line-height: 25px;
                        background: #fff;
                        text-align: center;
                        a {
                            color: #666;
                            //background: pink;
                        }
                    }
                    li:hover {
                        a {
                            color: #e73a77;
                        }

                    }
                }
            }
            .myXZ:hover {
                a {
                    color: #e73a77;
                    span {
                        background: url("../images/index_11.jpg") no-repeat 2px -3px;
                    }
                }
                .myXZHover {
                    display: block;
                }

            }
            .cusServ {
                position: relative;
                width: 63px;
                height: 19px;
                .rightAA {
                    position: absolute;
                    top: 2px;
                    z-index: 1000;
                    left: 16px;
                    span {
                        float: right;
                        width: 15px;
                        height: 19px;
                        background: url("../images/index_8.jpg") no-repeat 0 -7px;
                    }
                }
                .cusServHover {
                    display: none;
                    position: absolute;
                    left: 4px;
                    width: 75px;
                    padding-top: 25px;
                    top: -3px;
                    background: #FFFFFF;
                    border: 1px solid #E8E8E8;
                    z-index: 10;
                    li {
                        height: 25px;
                        line-height: 25px;
                        // background: palegreen;
                        text-align: center;
                    }
                }
            }
            .cusServ:hover {
                .rightAA {
                    color: #e73a77;
                    span {
                        background: url("../images/index_11.jpg") no-repeat 0 -3px;
                    }
                }
                .cusServHover {
                    display: block;
                }
            }
        }
    }
}
.head-con {
    //background: pink;
    height: 102px;
    margin-bottom: 18px;
    position: relative;
    //overflow: hidden;
    h1 {
        a {
            float: left;
            display: block;
            width: 180px;
            height: 80px;
            margin-top: 22px;
            margin-left: 13px;
            background: url("../images/newHome-icons.png") no-repeat 0 bottom;
        }
    }
    .head-center {
        position: absolute;
        left: 270px;
        top: 37px;
        width: 460px;
        height: 61px;
        background: url("../images/newHome-search.png") no-repeat 0 0;

        div {
            width: 460px;
            height: 45px;

            #searchTxt {
                float: left;
                display: block;
                width: 330px;
                height: 22px;
                border: 2px;
                padding: 5px;
                background: none;
                margin: 5px 0 0 5px;
                outline: none;
            }
            #searchBtn {
                float: right;
                width: 96px;
                height: 38px;
                border: 0;
                //outline: 0;
                cursor: pointer;
                background: none;
            }
        }
        .hot-word {
            padding-left: 5px;
            li {
                float: left;
                margin-right: 10px;
                a {
                    color: #6C6C6C;
                }
                a:hover {
                    color: #E73A77;
                }
            }
        }
    }
    //搜索框
    .head-right {
        position: absolute;
        right: 0;
        top: 40px;
        .head-sign {
            float: right;
            height: 40px;
            line-height: 40px;
            color: #a8a7a7;
            margin-right: 8px;
            font-weight: 900;
            //          background: palegoldenrod;
            //          text-align: center;
            //          vertical-align: center;
            i {
                display: inline-block;
                width: 40px;
                height: 40px;
                margin-right: 2px;
                vertical-align: middle;
                background: url("../images/nnew-foot-bg.png") no-repeat;
            }
            .i3 {
                background-position: -80px -120px;
            }
            .i2 {
                background-position: -40px -120px;
            }
            .i1 {
                background-position: 0 -120px;
            }
        }
    }
}
//main-nav
#main-nav {
    height: 44px;
    background: #383838;
    .proSort {
        position: relative;
        height: 44px;
        //background: palegoldenrod;
        .proSortList {
            float: left;
            width: 125px;

            //color: #FFF;
            .proSortNavA {
                display: block;
                height: 44px;
                line-height: 44px;
                text-align: center;
                color: #fff;
                font: 16px/44px 'microsoft yahei';

            }
        }
        .proSortFir {
            position: relative;
            width: 200px;
            background: #E73A77;
            span {
                width: 13px;
                height: 13px;
                position: absolute;
                left: 155px;
                top: 12px;
                background: url("../images/newHome-icon.png") no-repeat -10px -28px;
            }
        }
        .proSortThr {
            position: relative;
            width: 128px;
            background: #E73A77;
            a {
                font-weight: 900;
            }
            .sale{
                display: block;
                width: 29px;
                height: 17px;
                background: url("../images/newHome-icons.png") no-repeat -42px -162px;
                position: absolute;
                top: 3px;
                left: 123px;
                z-index: 3;
            }
        }
        .proSortFour{
            position: relative;
            .hot{
                display: block;
                width: 29px;
                height: 17px;
                background: url("../images/newHome-icons.png") no-repeat -119px -184px;
                position: absolute;
                left: 101px;
                top: 3px;
                z-index: 3;
            }
        }
        .proSortSix{
            position: relative;
            .new{
                display: block;
                width: 29px;
                height: 17px;
                background:url("../images/newHome-icons.png") no-repeat -80px -179px ;
                position: absolute;
                left: 101px;
                top: 3px;
                z-index: 3;
            }
        }
        
        .proSortLas {
            width: 183px;
            padding-left: 57px;
            position: relative;
            .cart{
                display: block;
                width: 66px;
                height: 31px;
                background:url("../images/shopcar-icon.png") no-repeat ;
                position: absolute;
                left: 55px;
                top: 4px;
                font-size: 12px;
                color: #000;
                font-weight: normal;
                text-align: left;
                text-indent: 51px;
                line-height: 23px;
                overflow: hidden;
            }
        }
        .proSortList:hover {
            background: #E73A77;

        }
        //左边
        .allproducts-type-nav {
            display: none;
            position: absolute;
            left: 0;
            top: 44px;
            width: 200px;
            height: 450px;
            background: #FFFFFF;
            z-index: 100;
            .typeNavLeft {
                height: 74px;
                width: 100%;
                border-bottom: 1px solid #e3e3e3;
                position: relative;
                .pr {
                    position: relative;
                }

                h4 {
                    span {
                        width: 40px;
                        height: 40px;
                        background: url("../images/newHome-icon.png") no-repeat;
                        position: absolute;
                        top: 20px;
                        left: 0;
                    }
                    #type-icons-1 {
                        background-position: 0 -60px;
                    }
                    #type-icons-2 {
                        background-position: -40px -60px;
                    }
                    #type-icons-3 {
                        background-position: -80px -60px;
                    }
                    #type-icons-4 {
                        background-position: -120px -60px;
                    }
                    #type-icons-5 {
                        background-position: -160px -60px;
                    }
                    #type-icons-6 {
                        background-position: -200px -60px;
                    }
                    a {
                        color: #666;
                        font: bold 12px/24px 'microsoft yahei';
                        text-align: left;
                        padding-top: 5px;
                        padding-left: 40px;
                    }
                    a:hover {
                        color: #e73a77;
                    }
                }
                .allproducts-type-div {
                    padding-left: 40px;
                    a {
                        display: block;
                        font: normal 12px/20px 'microsoft yahei';
                        width: 65px;
                        text-align: left;
                        float: left;
                        color: #666;
                    }
                    a:hover {
                        color: #e73a77;
                    }
                    em {
                        position: absolute;
                        right: 15px;
                        top: 10px;
                    }
                }
                //右边
                .allproducts-subtype {
                    display: none;
                    position: absolute;
                    left: 190px;
                    width: 750px;
                    background: #f9f9f9;
                    top: 0;
                    ul {
                        padding: 10px 20px;
                        li {
                            border-bottom: 1px solid #e3e3e3;
                            padding: 8px 0;
                            dl dt a {
                                float: left;
                                font: bold 12px/30px 'microsoft yahei';
                                color: #666666;
                                margin-right: 20px;
                            }
                            dl dd a {
                                float: left;
                                font: normal 12px/30px 'microsoft yahei';
                                color: #666666;
                                margin-right: 20px;
                            }
                            dl a:hover {
                                color: #e73a77;
                            }
                        }
                    }
                }

            }
        }
    }
}
.servWay {
    position: fixed;
    z-index: 1000;
    box-sizing: content-box;
    top: 50%;
    margin-top: -104px;
    width: 40px;
    border-radius: 5px 0 0 5px;
    right: 0;
    transition: all 0.3s ease-in-out 0.1s;
    background: rgb(255, 107, 176);
    a {
        font-family: Microsoft Yahei, Arial, Helvetica;
        color: #FFFFFF;

        width: 100%;
        height: 100%;
        img {
            vertical-align: middle;
            width: 25px;
            margin: 15px 0 15px 4px;
        }
        span {
            margin-left: 10px;
            margin-bottom: 20px;
            width: 1em;
            display: inline-block;
            font-size: 16px;
            word-break: break-all;
            white-space: pre-wrap;
        }
    }
}
//center
.list{
    width: 100%;
    text-align: center;
    background: #fff;
    .list-con{
        //min-height: 1951px;
        //background: palegreen;
        .list-head{
            height: 50px;
            font: normal 2px "宋体";
            line-height: 50px;
            text-align: left;
            a{
                color: #666;
            }
            a:hover{
                color: #e73a77;
            }
        }
        .list-left{
            width: 182px;
            float: left;
            //height: 1951px;
            .w_sortList{
                width: 180px;
               // height: 324px;
                border-left: 1px solid #E8E8E8;
                border-right: 1px solid #E8E8E8;
                border-top: 2px solid #FC733F;
                .sortList{
                    //height: 36px;
                    h2{
                        height: 35px;
                        background: #f8f8f8;
                        line-height: 35px;
                        padding-left: 20px;
                        border-bottom: 1px solid #E8E8E8;
                        cursor: pointer;
                        text-align: left;
                        color: #f8f8f8;
                        a{
                         
                            font: normal 700 14px "宋体";
                            font-size: 14px;
                            color: #666;  
                        }
                        .btn_close{
                            display: block;
                            height: 35px;
                            width: 40px;
                            float: right;
                            background: url(../images/list_close.jpg) no-repeat center;
                        }
                    }
                    .submenu{
                        display: none;
                        background: #fff;
                        font: normal 12px "宋体";
                        color: #232323;
                        line-height: 25px;
                        padding-left: 20px;
                        border-bottom:1px solid #E8E8E8 ;
                        li{
                            margin-left: 30px;
                            height: 25px;
                            cursor: pointer;
                            text-align: left;
                            a{
                                color: #666;
                                
                            }
                            a:hover{
                                color: #FF1574;
                            }
                        }
                        
                    }
                }
            }
            .rankList{
                width: 180px;
                border: 1px solid #E8E8E8;
                border-top: 2px solid #FC733F;
                margin-top: 20px;
                text-align: center;
                .hot_title{
                    height: 30px;
                    background: #F8F8F8;
                    border-bottom: 1px solid #E8E8E8 ;
                    font: normal 700 14px "宋体";
                    color: #232323;
                    line-height: 35px;
                }
                .nation_hot{
                    
                    padding-top: 10px;
                    height: 72px;
                    border-bottom: 1px dashed #E8E8E8;
                    width: 160px;
                    margin: 0 auto;
                    font: normal 12px "宋体";
                    dt{
                        height: 62px;
                        width: 62px;
                        float: left;
                    }
                    dd{
                        text-align: left;
                        overflow: hidden;
                        line-height: 14px;
                        float: left;
                        margin-left: 5px;
                        width: 93px;
                        .p_name{
                            height: 36px;
                            overflow: hidden;
                            line-height: 1.5;
                            a{
                                color: #666;
                            }
                        }
                        .p_price{
                            margin-top: 10px;
                            font:normal 600 12px arial ;
                            color: #FC733F;
                            span{
                                font: normal 8px arial;
                                color: #A9A9A9;
                                text-decoration: line-through;
                            }
                        }
                    }
                }
            }
        }
        .listProduct {
        min-height: 1000px;
        _height: 1000px;
        width: 900px;
        float: left;
        margin-left: 18px;
        border-top: 2px solid #fc733f;
        .listScreen {
            margin-bottom: 22px;
            .origin {
                display: none;
            }
            h3 {
                width: 880px;
                height: 30px;
                font-size: 14px;
                font-weight: 900;
                color: #000;
                padding-left: 20px;
                background: #f8f8f8;
                border-bottom: 1px solid solid #e8e8e8;
                line-height: 30px;
                margin-bottom: 40px;
                i {
                    color: #fc733f;
                    font-size: 14px;
                }
            }

            h4 {
                float: left;
                font-size: 12px;
                font-weight: 900;
                margin-right: 33px;
                margin-left: 50px;
                a {
                    float: right;
                    background: #fc733f;
                    height: 20px;
                    width: 30px;
                    line-height: 20px;
                    text-align: center;
                    color: #fff;
                    margin-left: 30px;
                    font-weight: 100;
                }
            }
            p {
                width: 883px;
                height: 20px;
                background: url(../images/more2.jpg) no-repeat center;
                float: left;
            }
            ul {
                float: left;
                width: 650px;
                margin-bottom: 13px;
                height: 38px;
                overflow: hidden;
                li {
                    float: left;
                    height: 20px;
                    line-height: 20px;
                    width: 130px;
                    a {
                        color: #000;
                    }
                }
            }
            span {
                float: left;
                background: url(../images/more1.jpg) no-repeat center;
                width: 48px;
                height: 20px;
            }
        }
        .productList {
            border-top: 2px solid #fc733f;
            float: left;
            h4 {
                width: 900px;
                height: 27px;
                font-size: 14px;
                font-weight: 900;
                color: #000;
                background: #f8f8f8;
                border-bottom: 1px solid solid #e8e8e8;
                line-height: 27px;
                margin-bottom: 14px;
                a {
                    color: #666;
                    border-right: 1px solid #bbb;
                    float: left;
                    height: 100%;
                    padding: 0 18px;
                    background: url(../images/up.jpg) no-repeat 45px center;
                }
                div {
                    float: right;
                    margin-right: 14px;
                    a:nth-of-type(1),
                    a:nth-of-type(2) {
                        float: left;
                        width: 16px;
                        height: 16px;
                        border: 0;
                        background: url(../images/last_page3.jpg) no-repeat center;
                        padding: 0;
                        margin-top: 6px;
                    }
                    a:nth-of-type(2) {
                        background: url(../images/next_page3.jpg) no-repeat center;
                        margin-left: 5px;
                    }
                }
            }
            ul {
                li {
                    float: left;
                    width: 198px;
                    height: 334px;
                    margin-right: 15px;
                    border: 2px solid #fff;
                    padding: 3px;
                    position: relative;
                    margin-bottom: 15px;
                    a {
                        color: #000;
                        float: left;
                        width: 198px;
                        height: 290px;
                        img {
                            width: 198px;
                            height: 180px;
                            float: left;
                            margin-bottom: 32px;
                        }
                        span:nth-of-type(1) {
                            color: #000;
                            float: left;
                            width: 195px;
                            margin-bottom: 20px;
                            line-height: 18px;
                        }
                        span:nth-of-type(2) {
                            color: #000;
                            float: left;
                            color: #fc733f;
                            font-weight: 900;
                            font-size: 14px;
                            margin-right: 3px;
                            margin-bottom: 9px;
                        }
                        span:nth-of-type(3) {
                            
                            float: left;
                            text-decoration: line-through;
                            margin-top: 2px;
                            width: 100px;
                            margin-bottom: 10px;
                            a{
                              color: #000;  
                            }
                        }
                    }
                    span:nth-of-type(4) {
                        float: left;
                        color: #000;
                        margin-top: 4px;
                    }
                    button {
                        float: right;
                        width: 71px;
                        height: 25px;
                        background: url(../images/list_bt.jpg) no-repeat center;
                        border: 0;
                    }
                    ul {
                        li {
                            border: 0;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    div {
                        width: 240px;
                        height: 180px;
                        background: #ededed;
                        position: absolute;
                        left: 220px;
                        top: 0px;
                        z-index: 1;
                        border: 1px solid #d4d4d4;
                        padding: 10px;
                        display: none;
                        ul {
                            float: left;
                            display: block;
                            background: #ededed;
                            li {
                                border: 1px solid #d4d4d4;
                                width: 54px;
                                height: 54px;
                                margin: 0;
                                padding: 0;
                                margin-right: 5px;
                                background: url(../images/zhengpinbaozheng.jpg) no-repeat 0px 0px;
                            }
                            li:nth-of-type(2) {
                                background-position: -62px 0;
                            }
                            li:nth-of-type(3) {
                                background-position: -247px 0;
                            }
                            li:nth-of-type(4) {
                                background-position: -187px 0;
                                margin: 0;
                            }
                        }
                        p:nth-of-type(1) {
                            float: left;
                            width: 219px;
                            height: 47px;
                            padding: 10px;
                            background: #fff;
                            margin-top: 10px;
                            b:nth-of-type(1) {
                                float: left;
                                height: 25px;
                                width: 222px;
                                border-bottom: 1px solid #e5e5e5;
                                font-size: 12px;
                                color: #666;
                                i {
                                    font-size: 16px;
                                    color: #ed145b;
                                    font-weight: 900;
                                }
                            }
                            b:nth-of-type(2) {
                                font-size: 18px;
                                color: #ccc;
                            }
                        }
                        p:nth-of-type(2) {
                            float: left;
                            width: 239px;
                            height: 36px;
                            background: #fff;
                            margin-top: 10px;
                            text-align: center;
                            line-height: 36px;
                        }
                    }
                }
            }
        }
        .page {
            float: left;
            margin-bottom: 45px;
            ul {
                margin-left: 170px;

                li {
                    float: left;
                    width: 26px;
                    height: 26px;
                    margin-right: 10px;
                    border: 1px solid #e8e8e8;
                    a {
                        color: #000;
                        float: left;
                        width: 26px;
                        height: 26px;
                        text-align: center;
                        line-height: 26px;
                    }
                }
                li:last-child {
                    width: 60px;
                    a {
                        width: 60px;
                    }
                }
            }
        }
    }
    }
}

//bottom
#footer{
    width: 100%;
    height: 530px;
    background: #f7f7f7;
    border-top: 1px solid #e4e4e4;
    .foot-head{
       /// width: 100%;
        height: 130px;
        border-bottom:1px solid #e4e4e4 ;
        ul{
            padding-left: 46px;
            padding-top: 25px;
            li{
                height: 70px;
                width: 176px;
                float: left;
                border-right: 1px solid #efefef;
                padding-left: 23px;
                a{
                    float: left;
                    width: 60px;
                    height: 60px;
                    background: url(../images/nnew-foot-bg.png) no-repeat 0 0;
                    
                }
                i{
                    float: left;
                    width: 104px;
                    text-align: center;
                }
                i:first-child{
                    color: #c9c9c9;
                    margin-top: 12px;
                }
                i:last-child{
                    color: #898989;
                    margin-top: 7px;
                }
            }
            li:nth-child(2) a{
                background-position: -60px 0;
            }
            li:nth-child(3) a{
                background-position:-180px 0 ;
            }
            li:nth-child(4) a{
                background-position: -360px 0;
            }
            li:nth-child(5) {
                border: 0;
                a{
                background-position: -420px 0;
            }
            }
            
        }
    }
    
    .foot-con {
        width: 1040px;
        height: 183px;
        border-bottom: 1px solid #e4e4e4;
        margin: 0 auto;
        padding-left: 60px;
        padding-top: 55px;
        div {
            width: 138px;
            height: 183px;
            float: left;
            li {
                float: left;
                width: 100%;
                font-size: 12px;
                line-height: 28px;
                a{
                    color: #666;
                }
                a:hover{
                    color: #E73A77;
                }
            }
            li:nth-of-type(1) {
                font-weight: 900;
                a {
                    color: #666;
                    font-size: 14px;
                }
            }
        }
        div:nth-of-type(5) {
            margin-left: 55px;
            span {
                color: #666;
                font-size: 14px;
                font-weight: 900;
                margin-bottom: 13px;
                float: left;
            }
            img {
                width: 80px;
                height: 80px;
                margin-left: 10px;
            }
        }
        div:nth-of-type(6) {
            width: 210px;
            margin-left: 40px;
            span {
                width: 100%;
                float: left;
                color: #666;
                font-size: 12px;
                //margin: 5px; 
                height: 20px;
                line-height: 20px;
            }
            span:nth-of-type(2) {
                display: block;
                font-size: 22px;
                font-weight: 900;
                height: 40px;
                line-height: 40px;
                
            }
            span:nth-child(4),span:nth-child(5){
                a{
                    color: #666;
                }
                a:hover{
                    color: #E73A77;
                }
            }
        }
    }
    .foot-bot {
        text-align: center;
        padding-top: 15px;
        a {
            border-right: 1px solid #666666;
            padding: 0 12px 0 9px;
            color: #666;
        }
        a:hover{
            color: #e73a77;
        }
        a:nth-of-type(4) {
            border: 0;
        }
        p {
            margin-top: 27px;
            color: #666;
            margin-bottom: 15px;
        }
    }
    .link {
        a:nth-of-type(1) {
            width: 160px;
            height: 50px;
            background: url(../images/zfb_18.jpg) no-repeat center;
            float: left;
            margin-left: 330px;
        }
        a:nth-of-type(2) {
            float: left;
            width: 127px;
            height: 50px;
            background: url(../images/cnnic.png) no-repeat center;
            margin-left: 10px;
        }
        a:nth-of-type(3) {
            float: left;
            width: 146px;
            height: 50px;
            background: url(../images/zfb_20.jpg) no-repeat center;
        }
    }
}
#bottom {
    .bottom-con{
        //width: 100%;
        height: 55px;
        background: url(../images/beian.png) no-repeat 440px 18px;
        text-align: center;
        padding-top: 22px;
        a{
           color: #666; 
        }
    }
    
}